<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>CS108 RFID Reader</string>
	<key>CFBundleIdentifier</key>
	<string>com.RFIDDemoApp</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>BLE.Client</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.2</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>the program will detected location of device and send the location to cloud server</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Get tag location to server</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>RFID Reader will send TAGs data, control command from/to iphone via Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) user your calendar.</string>
	<key>CFBundleVersion</key>
	<string>279</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Get tag location to server</string>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Media.xcassets/LaunchImages.launchimage</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
